html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
  line-height: 1.625;
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
}

a {
  color: var(--active---regular);
  text-decoration: none;
  line-height: 1.25;
  cursor: pointer;
}

a:hover {
  color: var(--accent);
}

button {
  cursor: pointer;
  border: 0;
}

.bg-gradient {
  background: linear-gradient(208deg, #323264 0%, #323264 59.9%, #643e72 100%);
  border-radius: 0 0 12px 12px;
  position: relative;
}

.bg-gradient::before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #e7e7f2;
  border-radius: 0 0 12px 12px;
  height: 10px;
  width: calc(100% - 80px);
  left: 40px;
  top: 100%;
  margin-top: 10px;
}

.bg-gradient::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #cacadb;
  border-radius: 0 0 12px 12px;
  height: 10px;
  width: calc(100% - 40px);
  left: 20px;
}

.title-gradient {
  background: linear-gradient(163deg, #f0145a 0%, #ef8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 38px;
}

@media (max-width: 559px) {
  .title-gradient {
    font-size: 30px;
  }
}
