// /* Контейнери */
// .container {
// 	margin-left:  auto;
// 	margin-right: auto;
// 	padding-left: var(--container-padding);
// 	padding-right: var(--container-padding);

// 	max-width: var(--container-width);
// 	width: 100%;
// }

// .container-full {
// 	padding-left: var(--container-padding);
// 	padding-right: var(--container-padding);
// 	max-width: 100%;
// }

// .container-left-50 {
// 	padding-left: var(--container-padding);
// 	padding-right: var(--container-padding);
// 	max-width: 50%;

// 	@include mobile {
// 		max-width: 100%;
// 	}
// }

// .container-right-50 {
// 	padding-left: var(--container-padding);
// 	padding-right: var(--container-padding);
// 	max-width: 50%;
// 	margin-left: auto;

// 	@include mobile {
// 		max-width: 100%;
// 	}
// }

// .container-right {
// 	padding-left: calc(
// 		(100% - var(--container-width)) / 2 + var(--container-padding)
// 	);

// 	@include tablet {
// 		padding-left: var(--container-padding);
// 	}
// }

// .container-left {
// 	padding-right: calc(
// 		(100% - var(--container-width)) / 2 + var(--container-padding)
// 	);

// 	@include tablet {
// 		padding-right: var(--container-padding);
// 	}
// }

// .container-half-left {
// 	padding-right: calc(
// 		(100% - var(--container-width)) / 2 + (var(--container-width) / 2)
// 	);
// 	padding-left: calc(
// 		(100% - var(--container-width)) / 2 + var(--container-padding)
// 	);

// 	@include tablet {
// 		padding-left: var(--container-padding);
// 	}

// 	@include mobile {
// 		padding: 0 var(--container-padding);
// 	}
// }

// .container-half-right {
// 	padding-left: calc(
// 		(100% - var(--container-width)) / 2 + (var(--container-width) / 2)
// 	);
// 	padding-right: calc(
// 		(100% - var(--container-width)) / 2 + var(--container-padding)
// 	);

// 	@include tablet {
// 		padding-right: var(--container-padding);
// 	}

// 	@include mobile {
// 		padding: 0 var(--container-padding);
// 	}
// }

.container {
  margin: 0 auto;
}

@media (max-width: 559px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 560px) and (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}
@media (min-width: 560px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 648px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 904px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1850px;
  }
}
