.mobile-nav {
  position: fixed;
  top: 100%;
  width: calc(100% - 16px);
  margin: 0 8px;
  height: 50%;
  z-index: 99;

  border-radius: 12px 12px 0 0;
  padding: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding-top: 40px;
  // padding-bottom: 40px;
  background: var(--basic-white);
  transition: all 0.2s ease-in;
}

.mobile-nav--open {
  top: 52.6236%;
  // opacity: 1;
  // background-color: #707093;
}
// .mobile-nav--open body {
//   // background-color: #707093;
// }

.mobile-nav a {
  color: var(--active---regular);
}

.mobile-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  font-size: 28px;
  width: 100%;

  & .active {
    opacity: 0.5;
  }
}

.mobile-nav--open .mobile-nav__item {
  display: flex;
  justify-content: center;
  width: 100%;
  .nav__link {
    border-radius: 12px;
    background-color: var(--grey---bg-);
    // background-color: red;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    padding: 7px 0;
    &:hover {
      background-color: var(--grey---separator);
    }
  }
}
