// /* Nav Icon */

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.row .three {
  padding: 80px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #2c3e50;
  color: #ecf0f1;
  text-align: center;
}

.hamburger .line {
  width: 30px;
  height: 1px;
  background-color: #ffd613;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger .line:first-child {
  margin-left: 6px;
}

.hamburger-9.is-active .line {
  margin-right: 10px;
}

.hamburger-9.is-active .line:first-child {
  margin-left: 0;
}

@media (min-width: 560px) {
  .hamburger .line {
    width: 50px;
    margin-top: 11px;
  }
  .hamburger-9.is-active .line {
    margin-top: 7px;
    margin-right: 15px;
  }
}

.hamburger-9.is-active .line {
  width: 17.5px;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger-9 {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger-9.is-active {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger-9:before {
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  border: 5px solid transparent;
  top: calc(43% - 17.5px);
  right: calc(69% - 17.5px);
  //   top: 11px;
  //   right: 13px;
  border-radius: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 560px) {
  .hamburger-9:before {
    content: "";
    width: 50px;
    height: 50px;
    top: calc(43% - 25px);
    right: calc(69% - 25px);
    //   top: 11px;
    //   right: 13px;
  }
  .hamburger-9.is-active .line {
    width: 25px;
  }
}

.hamburger-9.is-active:before {
  border: 2px solid #ffd613;
}

.hamburger-9.is-active .line:nth-child(2) {
  opacity: 0;
}

.hamburger-9.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

.hamburger-9.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}

.hamburger-9:not(:has(.is-active)) .line:nth-child(3) {
  display: none;
}

.hamburger-9.is-active .line:nth-child(3) {
  display: inline-block;
}
